container{
    padding: 1.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2C3E50; /* Color de fondo oscuro */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    font-family: Arial, sans-serif; /* Fuente */
    height: 60px;
    line-height: 60px;
}