<div class="m-5 min-vh-100">
  <h2 class="mb-4">Login</h2>
  <form class="p-4 rounded-4 row" (submit)="login()">
    <div class="col-5">
      <div class="form-group">
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Ingresa tu email" required/><br>
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Contraseña" required/><br>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </div>
  </form>
</div>