<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Unicen</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        @if (!(userLoginOn$ | async)) {
          <a class="nav-link" [routerLink]="['/login']">Iniciar sesión</a>
          <a class="nav-link" [routerLink]="['/signup']">Registrarse</a>
          <a class="nav-link" [routerLink]="['/about']">About</a>
        }

        @if (userLoginOn$ | async) {
          @if ((userRole$ | async) === 'business') {
            <a class="nav-link" [routerLink]="['/create-products']">Mis productos</a>
          }
          @if ((userRole$ | async) === 'client') {
            <a class="nav-link" [routerLink]="['/business-list']">Tiendas</a>
          }
          <a class="nav-link" [routerLink]="['/about']">About</a>
          <a class="nav-link" (click)="logout()" style="cursor: pointer;">Cerrar sesión</a>
        }
      </div>
    </div>
  </div>
</nav>